<!DOCTYPE html>
<html id="exact" lang="en" prefix="og: https://ogp.me/ns#">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <!-- Site Title-->
    {{ $title := print .Site.Title " | " .Title }}
    {{ if .IsHome }}{{ $title := print .Title " | Abaco, Bahamas" }}{{ end }}
    <title>{{ .Title }} | Abaco, Bahamas </title>
    <!-- Site Description-->
    <meta name="description" content="">
    <!-- Responsive Tag-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <!-- Google hreflang Tag-->
    {{ $base := print .Site.BaseURL }}
    <link rel="canonical" href="{{ $base }}">
    <link rel="preconnect" href="https://res.cloudinary.com/abaco-aggregate/">
    <link rel="preload" href="/styles/style-{{ .Site.Data.assets.version }}.min.css" as="style">
    <link rel="stylesheet" href="/styles/style-{{ .Site.Data.assets.version }}.min.css">
    <!-- CSS — END-->
    <!-- Site Scripts — START-->
    <script>document.addEventListener("lazyriasmodifyoptions",function(i){i.detail.aspectratio=i.target.offsetWidth/i.target.offsetHeight});var prefix="https://res.cloudinary.com/abaco-aggregate/image/fetch/c_fill,g_auto,f_auto,w_{width}/";document.getElementById("exact")&&(prefix=prefix.replace(/\/$/,"")+",h_{height}/"),window.lazySizesConfig=window.lazySizesConfig||{},window.lazySizesConfig.rias=window.lazySizesConfig.rias||{prefix:prefix,absUrl:!0};</script>
    <script src="/scripts/app-{{ .Site.Data.assets.version }}.min.js" async></script>
    <!-- Site Scripts — END-->
    <!-- Site Favicons - START-->
    <meta name="theme-color" content="#ffffff">
    <link rel="icon" href="/favicon.svg">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#9395A1">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="manifest" href="/manifest.json">
    <!-- Site Favicons - END-->

    <meta name="google-site-verification" content="4h_c66UMc1lcA0J0KpN7VaOMOUZKgqmKeCGLvj4_d4U" />
  </head>
  <body>
    <input id="click" type="checkbox" aria-checked="false" tabindex="0" aria-labelledby="menu-prompt">
    <header class="[ navbar fixed ]" id="navbar">
      <div class="[ navbar__wrapper ][ x--wide--p flex--wrap flex--between--middle ]">
        <a class="[ navbar__logo ] [ flex--middle ]" href="{{ if .IsHome }}/#banner{{else}}/{{ end }}">
          <img class="img" src="/uploads/abaco-aggregate-logo.svg" alt="Abaco Aggregate And Cement Ltd">
        </a>
        <label class="[ navicon ] [ flex--middle ]" id="navicon" for="click"><strong id="menu-prompt">Open the menu</strong><span class="[ bar ]"></span></label>
        <nav class="[  navbar__menu nav ]">
          <ul class="[ menu ]">
            <li class="[ menu__item ]"><a class="[ menu__link ]" href="/#products">Products</a></li>
            <li class="[ menu__item ]"><a class="[ menu__link ]" href="/#our-company">Our Company</a></li>
            <li class="[ menu__item ]"><a class="[ menu__link ]" href="/#contact-us">Contact Us</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="anchor" id="banner"></div>
    
    <main class="[ main ] {{ if .IsHome}}[ mt--7 ]{{ else }}[ x--wide mt--7 ]{{ end }}" id="main">
      {{ block "main" . }}{{ end }}
    </main>
    <footer class="footer">
      <div class="footer__copy content content--wide flex--center--middle"><small>&copy; 2020 Abaco Aggregates And Cement Ltd. | All rights reserved.</small></div>
    </footer>
    {{ if .IsHome }}
    <script src="/scripts/obscure-{{ .Site.Data.assets.version }}.min.js" defer></script>
    <script src="/scripts/validate-{{ .Site.Data.assets.version }}.min.js" defer></script>
    <script src="/scripts/slide-nav-{{ .Site.Data.assets.version }}.min.js"></script>
    {{ else }}
    <script src="/scripts/lightgallery-{{ .Site.Data.assets.version }}.min.js"></script>
    {{ end }}
  </body>
</html>