<!DOCTYPE html>

<!-- 1613877179040 -->
<html lang="en" prefix="og: https://ogp.me/ns#">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <!-- Site Title-->
    <title>{{ print .Title }} | Abaco Aggregate And Cement Ltd.</title>
    <!-- Site Description-->
    <meta name="description" content="This is a template.">
    <!-- Responsive Tag-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <!-- Google hreflang Tag-->
    <link rel="canonical" href="https://abaco-aggregate.netlify.app/">
    <link rel="preconnect" href="https://res.cloudinary.com/filiio/">
    <!-- CSS — START-->
    <link rel="preload" href="/styles/style-{{ .Site.Data.assets.version }}.min.css" as="style">
    <link rel="stylesheet" href="/styles/style-{{ .Site.Data.assets.version }}.min.css">
    <!-- CSS — END-->
    <!-- Site Scripts — START-->
    <script>document.addEventListener("lazyriasmodifyoptions",function(i){i.detail.aspectratio=i.target.offsetWidth/i.target.offsetHeight});var prefix="https://res.cloudinary.com/filiio/image/fetch/c_fill,g_auto,f_auto,w_{width}/";document.getElementById("exact")&&(prefix=prefix.replace(/\/$/,"")+",h_{height}/"),window.lazySizesConfig=window.lazySizesConfig||{},window.lazySizesConfig.rias=window.lazySizesConfig.rias||{prefix:prefix,absUrl:!0};</script>
    <script src="/scripts/app-{{ .Site.Data.assets.version }}.min.js" async></script>
    <!-- Site Scripts — END-->
    <!-- No Script Styles – START-->
    <noscript>
      <style>.script {display: none}</style>
    </noscript>
    <!-- No Script Styles – START-->
    <!-- Site Favicons - START-->
    <meta name="theme-color" content="#ffffff">
    <link rel="icon" href="/favicon.svg">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#9395A1">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="manifest" href="/manifest.json">
    <!-- Site Favicons - END-->
  </head>
  <body>
    <input id="click" type="checkbox" aria-checked="false" tabindex="0" aria-labelledby="menu-prompt">
    <header class="[ navbar ]" id="navbar">
      <div class="[ navbar__wrapper ][ x--wide--p flex--wrap flex--between--middle ]"><a class="[ navbar__logo ] [ flex--middle ]" href="/#banner"><img class="img" src="/uploads/abaco-aggregate-logo.svg" alt="Abaco Aggregate And Cement Ltd"></a>
        <label class="[ navicon ] [ flex--middle ]" id="navicon" for="click"><strong id="menu-prompt">Open the menu</strong><span class="[ bar ]"></span></label>
        <nav class="[  navbar__menu nav ]">
          <ul class="[ menu ]">
            <li class="[ menu__item ]"><a class="[ menu__link ]" href="/#products">Products</a></li>
            <li class="[ menu__item ]"><a class="[ menu__link ]" href="/#our-company">Our Company</a></li>
            <li class="[ menu__item ]"><a class="[ menu__link ]" href="/#contact-us">Contact Us</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <main class="[ main ] [ x--wide ] " id="main">
      <h1 class="[ gallery__heading ]">Gallery</h1>
      <!-- Images used to open the lightbox-->
      <ul class="[ grid x2--sm x4--md ]">
        <li class="[ thumb ]" thumbnail><img class="hover-shadow lazyload" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="https://abaco-aggregate.netlify.app/uploads/abaco-aggregate-cement.jpg" data-sizes="auto" alt="">
        </li>
        <li class="[ thumb ]" thumbnail><img class="hover-shadow lazyload" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="https://abaco-aggregate.netlify.app/uploads/concrete-mixer-operator.jpg" data-sizes="auto" alt="">
        </li>
        <li class="[ thumb ]" thumbnail><img class="hover-shadow lazyload" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="https://abaco-aggregate.netlify.app/uploads/mixing-concrete.jpg" data-sizes="auto" alt="">
        </li>
        <li class="[  thumb thumb--yt ]" thumbnail><img class="hover-shadow lazyload" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="https://abaco-aggregate.netlify.app/uploads/abaco-aggregate-cement.jpg" data-sizes="auto" alt="">
        </li>
      </ul>
      <!-- The Modal/Lightbox-->
      <div class="[ modal ] [ flex--middle ]" id="myModal"><span class="close cursor" id="close">×</span>
        <div class="[ modal-content ]">
          <div class="mySlides">
            <figure><img src="https://abaco-aggregate.netlify.app/uploads/abaco-aggregate-cement.jpg" galleryImage>
              <figcaption class="caption">This is a caption.</figcaption>
            </figure>
          </div>
          <div class="mySlides">
            <figure><img src="https://abaco-aggregate.netlify.app/uploads/concrete-mixer-operator.jpg" galleryImage>
              <figcaption class="caption">This is a caption.</figcaption>
            </figure>
          </div>
          <div class="mySlides">
            <figure><img src="https://abaco-aggregate.netlify.app/uploads/mixing-concrete.jpg" galleryImage>
              <figcaption class="caption">This is a caption.</figcaption>
            </figure>
          </div>
          <div class="[ mySlides mySlides--yt ]" galleryImage>
            <div class="[ wrapper ]">
              <iframe class="[ youtube ]" src="https://www.youtube.com/embed/hszFNFHSNSA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen width="560" height="315"></iframe>
            </div>
            <p class="caption">This is a ction.</p>
          </div>
          <!-- Next/previous controls--><a class="[ directional ]" id="prev">❮</a><a class="[ directional ]" id="next">❯</a>
        </div>
      </div>
    </main>
    <footer class="footer">
      <div class="footer__copy content content--wide flex--center--middle"><small>&copy; 2020 Abaco Aggregates And Cement Ltd. | All rights reserved.</small></div>
    </footer>
    <script src="/scripts/lightgallery-{{ .Site.Data.assets.version }}.min.js"></script>
  </body>
</html>